@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    background-color: rgb(232, 232, 232);
    padding: 0px;
    margin: 0px;
}

.flex {
    display: flex;
}

body {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

main {
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.cards {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-temperature-now {
    width: 480px;
    height: 480px;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 16px;
    justify-content: space-between;
    margin-right: 34px;
    box-shadow: 13px 10px 28px -9px rgba(0,0,0,0.47);
}

.city {
    flex-direction: row-reverse;
    padding: 16px 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.temperature-infos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -48px;
}

#temperature {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 80px;
}

.graus {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 16px;
}

.temp {
    align-items: center;
    justify-content: center;
}

.temperature {
    justify-content: center;
}

.variation-temperature {
    align-items: center;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: -16px;
    gap: 8px;
}

.cards-statistics {
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px;
}

.mini-card-info {
    background-color: rgb(193, 193, 193);
    height: 60px;
    width: 146px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card-statistics-infos {
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.strong {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.cards-informations {
    flex-direction: column;
    gap: 24px;
}

.card-informations-sun-time {
    width: 578px;
    height: 244px;
    background-color: rgb(245, 245, 245);
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    box-shadow: 13px 10px 28px -9px rgba(0,0,0,0.47);
}

.card-forecast {
    width: 578px;
    height: 212px;
    background-color: rgb(245, 245, 245);
    border-radius: 16px;
    box-shadow: 13px 10px 28px -9px rgba(0,0,0,0.47);
}

.title {
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.container-arco {
    position: relative;
    width: 300px; /* Largura do container */
    height: 150px; /* Altura do container */
}

.arco {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 5px solid #FFD700; /* Cor da borda amarela */
    border-radius: 150px 150px 0 0; /* Cria um arco */
    border-bottom: none; /* Remove a borda inferior */

}

.sun {
    position: absolute;
    width: 30px; /* Largura do sol */
    height: 30px; /* Altura do sol */
    background-color: #FFD700; /* Cor do sol amarelo */
    border-radius: 50%; /* Forma circular */
    transform: translateX(-50%); /* Para centralizar o sol horizontalmente */

}

.sun-informations {
    width: 95%;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
    position: relative;
    top: -70px;

}

